/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Add Page Container */
.add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Add Form */
.add-form {
    background-color: bisque;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

/* Form Group */
.form-group {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.form-input,
.form-select {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.file-input {
    margin-top: 8px;
    margin-bottom: 16px;
}

.error-text {
    font-size: 14px;
    color: blue;
}

.add-form-button {
    background-color: #ff6900;
    color: #111827;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.add-form-button:hover {
    background-color: black;
    color: #ff6900;
    transform: scale(1.05);
    /* Slight zoom effect on hover */
}

/* Delete Button */
.add-delete-button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 30px;
    background-color: transparent;
    color: blue;
    padding-bottom: 20px with no color;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}


.add-delete-button:hover {
    background-color: blue;
    color: #f97316;
    transform: scale(1.1);
    /* Slight zoom effect on hover */
}

/* Responsive Layout */
@media (max-width: 768px) {
    .add-form {
        padding: 15px;
    }

    .form-label {
        font-size: 14px;
    }

    .form-input,
    .form-select {
        font-size: 14px;
    }

    .submit-button {
        font-size: 14px;
    }
}

/* Focused Input Fields */
.form-input:focus,
.form-select:focus {
    border-color: #ff6900;
    outline: none;
}

.add-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    background-color: #ff6900;
    color: #111827;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;

}

.add-back-button:hover {
    background-color: black;
    color: #ff6900;
    transform: scale(1.2);
    /* Slight zoom effect on hover */
}