.plus{
    height: 50px;
    width: 50px;
    background-color:#ff6900 ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.plus:hover{
    color:black;
    transform: scale(1.2); /* Slight zoom effect on hover */
} 