
.landing-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('C:\Users\Administrator\Desktop\latest version\login\src\assets\components\images\18129294.jpg'); 
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat; 
}

.top-left-image {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 500px;
    height: auto;
}

.landing-container p {
    margin-bottom: 20px;
    font-size: 60px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ff6900;
    width: 0;
    animation: typing 6s steps(30) forwards, blink 0.7s steps(1) 6s 3, remove-cursor 0.1s forwards 3.5s;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% { 
        border-color: transparent;
    }
}

@keyframes remove-cursor {
    to {
        border-right: none;
    }
}

.button3 {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #ff6900;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
    transition: background-color 0.6s ease, transform 0.6s ease, color 0.6s ease;
}

.button3:hover {
    background-color: black;
    color: #ff6900;
    transform: scale(1.05);
}
.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px;
}

div.inside {
    width: 100px;
    height: 100px;
    background-color: red;
}
